input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
}

label {
    font-size: 24px;
}

textarea {
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: inherit;
}

input[type=submit]:hover {
    border-color: #646cff;
}

.deleteButton {
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #E97777;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-bottom: 50px;
}