.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #A4BC92;
    padding: 3rem 6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.signup-input {
    margin: 0.75rem 0rem;
    border-radius: 0.5rem;
    width: 15rem;
    height: 2rem;
}

.signup-submit {
    margin-top: 1rem;
}

.smiski-lay {
    position: fixed !important;
    width: 150px;
    bottom: 20px !important;
    right: 20px !important;
}