.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #A4BC92;
    padding: 3rem 8rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.signup-input {
    margin: 1rem 0rem;
    border-radius: 0.5rem;
}