.Card {
    backdrop-filter: blur(2px);
    background: #1a1a1a;
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 25px;
    width: 400px;
    text-align: center;
    z-index: -2;
}

.title {
    color:white;
    font-size: 28px;
    margin-left: 1rem;
    margin-right: 0rem;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.author {
    color:white;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    margin-bottom: 20px;
}


.description {
    color:white;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 15px;
}

.likeButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: border-color 0.25s;
}

.likeButton:hover {
    border-color: #646cff;
}

.editButton {
    width: 30px;
    float:right;
    text-align: end;
    filter: brightness(100%);
}
.editButton:hover {
    cursor: pointer;
}